/* Styles généraux */
body {
    font-family: Calibri, sans-serif;
    line-height: 1.6;
    font-size: 1.2vw;
    margin: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 5vh;
    background-image: url('../img/background.jpg');
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: -5.5vh;
    transform: translateX(-50%);
    margin: 0;
    font-style: italic;
}

/* Formulaires */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
    top: 5vh;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    max-height: 80vh;
}

/* Styles pour la barre de défilement du formulaire */
form::-webkit-scrollbar {
    width: 10px;
    right: 100px;
}

form::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
}

form::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}

form::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}


textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    font-family: Calibri, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #333;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #111;
}


input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

/* Graphiques */
#proba_chart {
    width: 90%;
    height: auto;
    max-width: 520px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* Styles de la barre de navigation */
nav {
    background-color: #333;
    z-index: 2;
    overflow: hidden;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.nav-item {
    float: right;
}

.nav-title {
    color: white;
    font-size: 1.24vw;
    font-weight: bold;
    margin: auto 0;
    padding: 14px 16px;
    /* text-align: center; */
    right: 50vh;
    z-index: 3;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 3;
    position: relative;
}

.nav-item a:hover {
    background-color: #111;
}