@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Styles généraux */
body {
    /* Définir une couleur de fond moins agressive pour les yeux */
    background-color: #111;
    transition: background-color 0.5s ease-in-out;
    font-family: Calibri, sans-serif;
    line-height: 1.6;
    font-size: 1vw;
    margin: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 5vh;
    background-image: url('../img/background.jpg');
    background-position: center top;
    background-size: 100%;
    overflow-y: scroll;
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: -5.5vh;
    transform: translateX(-50%);
    margin: 0;
    font-style: italic;
}

h2 {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h3 {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h4 {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

/* Formulaires */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
    position: relative;
    top: 5vh;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    max-height: 80vh;
}

/* Styles pour la barre de défilement du formulaire */
form::-webkit-scrollbar {
    width: 10px;
    right: 100px;
}

form::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 20px;
}

form::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51, 1);
    border-radius: 20px;
}

form::-webkit-scrollbar-thumb:hover {
    background-color: rgba(17, 17, 17, 1);
}

option {
    font-family: Poppins, sans-serif;
}

p {
    font-family: Poppins, sans-serif;
    font-size: auto;
}

textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: auto;
    font-family: Poppins, sans-serif;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-variant: small-caps;
}

input[type="submit"] {
    background-color: rgba(51, 51, 51, 1);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms ease;
}

input[type="submit"]:hover {
    background-color: rgba(17, 17, 17, 1);
}


input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Graphiques */
#proba_chart {
    width: 90%;
    height: auto;
    max-width: 520px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* Styles de la barre de navigation */
.nav {
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 2;
    overflow: hidden;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.nav-item {
    float: right;
    height: 100%;
    text-align: center;
}

.nav-title {
    color: white;
    font-size: 1.24vw;
    font-weight: bolder;
    font-variant: small-caps;
    margin: auto 0;
    padding: 14px 16px;
    right: 50vh;
    z-index: 3;
    height: 100%;
}

.nav-item a {
    transition: all 300ms ease;
    display: block;
    color: white;
    font-variant: small-caps;
    padding: 17px 16px;
    text-decoration: none;
    z-index: 3;
    position: relative;
    margin: 0;
}

.nav-item a:hover {
    background-color: rgba(17, 17, 17, 1);
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.donnees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5vh;
    margin: auto;
    margin-top: 5%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 65%;
    justify-content: center;
    padding-top: 5vh;
    margin: auto;
    margin-top: 5%;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 65%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    border-radius: 10px;
}

.h3-block {
    flex-basis: calc(30% - 5px);
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.word-cloud {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    padding: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-image {
    height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

.word-cloud-image {
    width: auto;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(rgba(31, 38, 38, 1), rgba(31, 38, 38, 1));
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(17, 17, 17, 1);
}

/* modeles.html */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.selectors-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: rgba(249, 249, 249, 0.9);
    border-radius: 10px;
    padding: 10px;
}

.model-selector {
    margin: 0 1rem;
}

.model-container {
    display: flex;
    justify-content: center;
    background-color: rgba(249, 249, 249, 0.9);
    padding-bottom: 3.8rem;
    border-radius: 10px;

}

.model {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}

img {
    max-width: 80%;
    border-radius: 20px;
    margin-top: 10px;
}

.comparison-result {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: bold;
    padding: 0 1rem;
}
