<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Romans 19S - Accueil</title>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/css-doodle"></script>
    <script src="{{ url_for('static', filename='js/doodle.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!-- <div id="doodle-container">
        <css-doodle click-to-update></css-doodle>
    </div> -->
    <!-- Barre de navigation -->
    <nav class="fixed-navbar">
        <ul class="nav">
            <li class="nav-item"><a href="{{ url_for('predictions') }}">prédictions</a></li>
            <li class="nav-item"><a href="{{ url_for('modeles') }}">modèles</a></li>
            <li class="nav-item"><a href="{{ url_for('donnees') }}">données</a></li>
            <li class="nav-item"><a href="{{ url_for('home') }}">accueil</a></li>
            <li class="nav-title">analyse de données textuelles</li>
        </ul>
    </nav>

    <div class="home-container">
        <div class="text-block">
            <h2>bienvenue</h2>
            <p>
                Cette interface web met en lumière le travail réalisé par Quentin, Thuy My, Etienne et Brice. Le projet
                se
                concentre sur la classification de texte à partir des romans de cinq auteurs renommés, que vous pouvez
                découvrir sur le second onglet.
            </p>
            <p>
                En effet, sur la page <strong>Données</strong>, nous vous offrons un aperçu des ressources utilisées
                pour ce
                projet. Vous y trouverez également des nuages de mots qui illustrent les oeuvres de chaque romancier.
            </p>
            <p>
                Consultez la page <strong>Modèles</strong> pour découvrir un outil de comparaison des différentes
                méthodes de classification. Ensuite, rendez-vous sur la page <strong>Prédictions</strong> pour classer
                des extraits de texte selon les cinq écrivains présentés.
            </p>
        </div>
    </div>
</body>

</html>